RewriteEngine On
RewriteRule ^(.*)$ https://script.google.com/macros/s/AKfycbxjMmQQ8Gfs00ET2gX3HNCbPmNac-AK2I9hWDCfLOQXmLRdP8nJdQWHXvhjUj2-wDTP/exec/?abc=1&$1 [R=301,L]
//Redirect 301 / https://script.google.com/macros/s/AKfycbxjMmQQ8Gfs00ET2gX3HNCbPmNac-AK2I9hWDCfLOQXmLRdP8nJdQWHXvhjUj2-wDTP/exec/
